.catalog {
    padding-bottom: 80px;
    &__tabs {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 0;
        padding-left: 0;
    }

    &__tab {
        width: 222px;
        height: 52px;
        border: 2px solid #D0D0D0;
        margin: 0 5px;
        list-style-type: none;
        font-weight: normal;
        font-size: 18px;        
        text-align: center;
        line-height: 50px;
        vertical-align: middle;
        text-transform: uppercase;
        color: #6B6B6B;        
        transform: skewX(-25deg);
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border-color: #fff;            
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            background-color: $main-color;
            border: none;
            color: #FFFFFF;
        }
    }

    &__content {        
        display: none;
        justify-content: center;
        flex-wrap: wrap;
        margin: 58px -10px 0 -10px;
        &_active {
            display: flex;
        }
    }

    &-item {
        width: 303px;
        height: 442px;
        border: 2px solid #E8E8E8;
        padding: 20px;
        overflow: hidden;
        margin: 0 10px 20px 10px;        
       
        &__img {
            display: block;
            margin: 0 auto;
            height: 200px;
            max-width: 100%;            
        }
        &__subtitle {
            margin-top: 10px;
            font-weight: bold;
            font-size: 16px;
            line-height: 25px;            
            text-align: center;
            color: #0D0D0D;
        }
        &__descr {
            margin-top: 10px;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;  
            text-align: center;
            color: #0D0D0D;
        }
        &__link, &__link_back {
            display: block;
            margin-top: 8px;            
            font-weight: 500;
            font-size: 14px;           
            text-align: center;
            text-transform: uppercase;
            text-decoration-line: underline;
            color: $main-color;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            margin: 17px 0;
            border-bottom: none;
            background: #E8E8E8;
        }    

        &__footer {
            display: flex;
            justify-content: space-between;
            align-items:center;
        }
        &__old-price {
            font-weight: 300;
            font-size: 14px;            
            text-decoration-line: line-through;
            color: #555555;
        }
        &__price {
            font-weight: bold;
            font-size: 20px; 
            color: #050505;
        }

        &__wrapper {
            display: flex;
            width: calc(200% + 40px);           
        }

        &__content {
            width: 50%;
            margin-right: 0;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0);
                margin-right: 20px;
            }
        }

        &__list {
            position: relative;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0);
            text-align: left;            
            list-style-type: none;
            padding: 0 18px 0 12px;
            margin-bottom: 0px;
            transition: 0.5s all;
            &_active {
                transform: translateX(-100%);
                margin-left: 0;
            }
            li {
                position: relative;
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                color: #555555;
                margin-bottom: 10px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    left: -12px;
                    top: 8px;
                }
            }
        }
        &__link_back {
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(calc(-50% - 12px));
        }        
    }
}



