.pageup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    opacity: 0.8;
    border: 1px solid #fff;
    border-radius: 100%;
    background-color: #fff;
    img {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .pageup {
        bottom: 20px;
        right: 20px;
    }
}
